*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

html{
    scroll-behavior:smooth;
}

body{
    background:#0f172a;
    color:white;
}

/* Header */

header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo h2{
    font-size:30px;
}

.logo span{
    color:#38bdf8;
}

nav a{
    text-decoration:none;
    color:white;
    margin-left:30px;
    transition:.3s;
}

nav a:hover{
    color:#38bdf8;
}

/* Hero */

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
    height:45vh;
}

.hero-text{
    width:55%;
}

.hero-text h3{
    color:#38bdf8;
    font-size:22px;
}

.hero-text h1{
    font-size:52px;
    margin:10px 0;
}

.hero-text h2{
    color:#94a3b8;
    margin-bottom:15px;
    font-weight:500;
}

.hero-text p{
    color:#cbd5e1;
    line-height:28px;
    width:90%;
}

.hero-image{
    width:40%;
    text-align:center;
}

.hero-image img{
    width:260px;
    height:260px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #38bdf8;
    transition:.3s;
}

.hero-image img:hover{
    transform:scale(1.05);
}

/* Bottom Section */

.bottom{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
    padding:20px 8%;
    height:40vh;
}

.card{
    background:#1e293b;
    border-radius:12px;
    padding:20px;
    transition:.3s;
}

.card:hover{
    transform:translateY(-5px);
}

.card h2{
    color:#38bdf8;
    margin-bottom:15px;
}

.card p,
.card li{
    color:#cbd5e1;
    line-height:28px;
}

.card ul{
    margin-left:20px;
}

/* Responsive */

@media(max-width:900px){

header{
    flex-direction:column;
}

nav{
    margin-top:15px;
}

.hero{
    flex-direction:column-reverse;
    height:auto;
    text-align:center;
}

.hero-text{
    width:100%;
}

.hero-image{
    width:100%;
    margin-bottom:20px;
}

.bottom{
    grid-template-columns:1fr;
    height:auto;
}

.hero-text p{
    width:100%;
}

}
